<div style="text-align:center">
  <form class="example-form">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="User">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ชื่อ" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="เบอร์โทร" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="หมายเหตุ" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="รูปภาพ" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="GPS">
  </mat-form-field>
  </form>
  
  <p><button mat-raised-button style="background:#ffccbc;top:450px;">ส่งหมายเหตุ</button></p>
  </div>
  
  