<h1 class="title">SUT Rescue SOS Emergency</h1>
<div>
  <mat-card class="example-card" [routerLink]="['/signinadmin']" routerLinkActive="active" >
    <mat-icon class="example-icon" style="color:white;">person_add</mat-icon>
    <mat-card-content>
      <h2>Admin</h2>
    </mat-card-content>
  </mat-card>
</div>
 
<div>
  <mat-card class="example-card1"  [routerLink]="['/signin']" routerLinkActive="active">
    <mat-icon class="example-icon1" style="color: white">person</mat-icon>
    <mat-card-content>
        <h2>User</h2>
      </mat-card-content>
  </mat-card>
</div>
