<!-- <div class="titop">
<img src="../../../assets/logo.png" height="150px" width="400px">
</div> -->
<mat-card class="cardchart">
  <!--   <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  <div id="chartContainer2" style="height: 370px; width: 100%;"></div>  -->
  <img src="../../../assets/logo.png" class="titop" height="150px" width="400px">
  <chart class="chart" [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
  <hr size="6" color="blue" width="80%">
  <chart class="chart1" [type]="typeChart1" [data]="dataChart1" [options]="optionsChart1"></chart>
</mat-card>