<div class="example-time">
  <h1>{{date | thaidate :'full'}}</h1>
  <h2>{{date | date :'HH:mm:ss'}} น.</h2>

</div>
<div class="notimess">
  <h2>สัญญาณแจ้งเหตุ</h2>
</div>
<div class="iconnoti">

  <mat-icon class="blink" style="font-size: 300px;" [style.animation-iteration-count]="count" (click)="clickSEE()">notifications_active</mat-icon>

</div>
<div class="noti">
  <button mat-raised-button style="background:#2320e4 ;color:white;width: 170px;height: 50px;" class="example-icon"
    (click)="clickSEE()">ดูรายการแจ้งเหตุ</button>
</div>