
<mat-toolbar style="background:#ffab91;color:white" >
  <span>SUT Rescue SOS Emergency</span>
  <span class="example-spacer"></span>
  <button mat-button style="background:#ffab91"
   matBadgePosition="before" matBadgeColor="accent">
  <mat-icon class="example-icon" matBadge="15" matBadgeColor="warn">notifications_active</mat-icon>
  </button>
</mat-toolbar>
<br>
<div style="text-align:center">
    <h1 style="color:blue">{{date | date : 'medium'}}</h1>
</div>
 
<router-outlet></router-outlet>


 <!-- <mat-icon class="example-icon">notifications_active</mat-icon>-->
 
 